/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2018, 12:07:14 AM
    Author     : Maahi
*/
body{
    margin: 0px;
    border-top: red solid 2px;
}

#container{
    background-color: black;
    padding-top: 5px;
}

#cont1{
    background-color: blue;
    width: 50%;
    height: 300px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: white;
    display: none;
    line-height: 300px;
}

#cont2{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: red solid 2px;
}

#anim>h1{
    text-align: center;
}

#car{
    margin-left: 5px;
    position: absolute;
}

#cont3{
    text-align: center;
    margin-top: 250px;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}

#mod{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

#model-button{
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    text-decoration: none;
    border-radius: 20px;
}

